.financovani {
  padding-bottom: 45px;
  min-height: calc(100vh - 442px - 105px);

  .financovaniInner {
    max-width: 900px;
    width: calc(100% - 50px);
    margin: 0 auto;
  }

  .leva {
    width: 50%;
    display: inline-block;

    h2 {
      font-size: 32px;
      font-family: medium;
      margin-top: 0;
      padding-top: 50px;
      margin-bottom: 27px;
    }

    p {
      font-size: 15px;
      line-height: 25px;
      margin-top: 0;
      padding-top: 0;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
      display: block;
    }
  }

  .prava {
    float: right;
    vertical-align: top;
    margin-top: 120px;
    display: inline-block;

    img {
      display: inline-block;
      vertical-align: middle;
      border-radius: 100%;
      height: 80px;
      box-shadow:         0 0 20px 0 rgba(0,0,0,0.20);
      -moz-box-shadow:    0 0 20px 0 rgba(0,0,0,0.20);
      -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);

      @media screen and (max-width: 370px) {
        height: 55px;
      }
    }

    ul {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      margin: 0;
      padding-top: 5px;
      padding-left: 18px;

      li {
        margin: 5px 0;
        list-style: none;

        div {
          display: inline-block;
          width: 20px;
          margin-left: -2px;
          margin-right: 3px;

          i {
            font-size: 16px;
            text-align: center;
            width: 100%;
          }
        }

        a {
          font-size: 15px;
          font-family: medium;
          text-decoration: none;

          @media screen and (max-width: 370px) {
            font-size: 13px;
          }
        }

        &:nth-child(1) {
          i {
            color: $modra;
          }
        }

        &:nth-child(2) {
          i {
            color: $cervena;
          }
        }

        &:nth-child(3) {
          i {
            color: $zelena;
          }
        }
      }

      @media screen and (max-width: 370px) {
        padding-left: 10px;
      }
    }

    @media screen and (max-width: 700px) {
      float: none;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 850px) {
    min-height: calc(100vh - 442px - 64px);
  }
}
